{{#unless nostyle}}
    </section>
</div>
</div>

<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p>Copyright &copy; 2015, SerGIS Project Contributors</p>
        <p><a href="http://sergisproject.github.io/" target="_blank">The SerGIS Project</a></p>
    </footer>
</div>
{{/unless}}

{{#if formCheckers}}
<script type="text/javascript">
(function () {
    var elems = document.getElementsByTagName("select"), elem;
    for (var i = 0; i < elems.length; i++) {
        if (elems[i].className.indexOf("formcheckers-select-auto-submit") != -1) {
            elems[i].disabled = false;
            elems[i].addEventListener("change", function (event) {
                var elem = this;
                while (elem && (elem.tagName || elem.nodeName).toLowerCase() != "form") {
                    elem = elem.parentNode;
                }
                elem.submit();

                elem = this;
                setTimeout(function () {
                    elem.disabled = true;
                }, 100);
            }, false);
            elem = elems[i].nextSibling;
            while (
                ((elem.tagName || elem.nodeName).toLowerCase() != "input" || elem.getAttribute("type") != "submit")
                && (elem = elem.nextSibling)
            );
            if (elem) elem.style.display = "none";
        }
    }
})();

(function () {
    var elems = document.getElementsByClassName("formcheckers-delete-check");
    for (var i = 0; i < elems.length; i++) {
        elems[i].addEventListener("submit", function (event) {
            if (confirm("Are you sure that you want to delete " + this.getAttribute("data-name") + "?")) {
                // Continue
                return true;
            } else {
                event.preventDefault();
                return false;
            }
        }, false);
    }
})();

(function () {
    var elems = document.getElementsByClassName("formcheckers-prompt-auto-submit");
    for (var i = 0; i < elems.length; i++) {
        elems[i].style.display = "inline";
        elems[i].addEventListener("click", function (event) {
            event.preventDefault();
            var newValue = prompt(this.getAttribute("data-promptText"), this.getAttribute("data-promptDefault"));
            if (newValue) {
                var form = this;
                while (form && (form.tagName || form.nodeName).toLowerCase() != "form") {
                    form = form.parentNode;
                }
                if (form) {
                    var input = document.createElement("input");
                    input.setAttribute("type", "hidden");
                    input.setAttribute("name", this.getAttribute("data-valueName"));
                    input.setAttribute("value", newValue);
                    form.appendChild(input);
                    form.submit();
                }
            }
        }, false);
    }
})();
</script>
{{/if}}

{{#if passwordGenerator}}
<script type="text/javascript" src="https://cdn.rawgit.com/xiongchiamiov/pronounceable-password-generator/be6ab0cbf88aa0466308ab926d9a28f278c80237/gpw.js"></script>
<script type="text/javascript">
(function () {
    if (typeof GPW != "undefined" && typeof GPW.pronounceable == "function") {
        var elems = document.getElementsByClassName("password-generator");
        for (var i = 0; i < elems.length; i++) {
            elems[i].addEventListener("click", function (event) {
                event.preventDefault();
                var elem = document.getElementById(this.getAttribute("data-input-elem"));
                if (elem) {
                    elem.value = GPW.pronounceable(Math.floor(Math.random() * 5) + 8);
                    elem = document.getElementById(this.getAttribute("data-message-elem"));
                    elem.innerHTML = "Make sure to copy or write this password down.<br>Once you create the user, there is no way to retrieve this password!";
                }
            }, false);
            elems[i].style.display = "inline";
        }
    }
})();
</script>
{{/if}}
</body>
</html>
