{{> HEADER}}

<section>
    <p>Congratulations! Your game has been published.</p>
    <p><a href="{{HTTP_PREFIX}}/games/{{me.username}}/{{gameName}}" target="_blank">View Game</a></p>
    <p>If you make more changes in the Game Author, you will have to publish the game again.</p>
</section>

{{> FOOTER}}
