<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SerGIS Server Admin</title>
<link rel="stylesheet" type="text/css" href="/lib/style-simple.css" data-set-attribute="href style-simple.css">
</head>

<body>

<header>
    <h1>SerGIS Server Admin</h1>
</header>

<section data-set-if="error">
    <h2 data-set-text="error.title">Error</h2>
    <p data-set-text="error.text"></p>
    <p><a href="javascript:history.back()">Back</a></p>
</section>

<section data-set-if="noerror">
<form action="" method="POST">

<h2>Create New Game</h2>
<p>Enter JSON Game Data for game:</p>
<textarea style="width: 100%;" rows="5" name="jsondata"></textarea>
<p>Game Access Credentials:</p>
<table><tbody>
    <tr><td>Username: </td><td><input name="username"> <small>(used to identify the game)</small></td></tr>
    <tr><td>Password: </td><td><input name="password"> <small>(leave blank for no password)</small></td></tr>
</tbody></table>
<p><input type="submit" value="Create Game"></p>

<h2>Existing Games</h2>
<p data-set-if="nogames">No games! Create one above.</p>
<table data-set-if="yesgames">
<thead>
<tr>
    <th>Username</th>
    <th>Password</th>
    <th>URL</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
</tr>
</thead>

<tbody>
<tr data-set-repeat="game games">
    <td><b data-set-text="game.username"></b></td>
    <td><i data-set-text="game.password">&nbsp;</i></td>
    <td><a data-set-attribute="href game.url" data-set-text="game.url" target="_blank"></a></td>
    <td><button name="delete" data-set-attribute="value game.username">Delete</button></td>
    <td><input type="checkbox" data-set-attribute="id game.username" style="display: none;"><div class="codeholder"><label data-set-attribute="for game.username"><code data-set-text="game.jsondata" style="font-size: 6pt;"></code></label></div></td>
</tr>
</tbody>
</table>

</form>
</section>

</body>
</html>
