<%- include("HEADER", {title: title || "SerGIS Error", page: "error-back"}) %>

<section>
    <h2><%= subtitle %></h2>
    <p><%= details %></p>
    <p><a href="javascript:history.back()">Back</a></p>
</section>

<%- include("FOOTER") %>
