<%- include("HEADER", {title: "Welcome to SerGIS!", page: "homepage"}) %>

<section>
    <p>For more information on SerGIS, see: <a href="http://sergisproject.github.io/">sergisproject.github.io</a></p>
</section>

<%- include("FOOTER") %>
